.item {
  margin-bottom: 8px;

}
.list {
  list-style-type: none;

}
.text {
  color: "var(--light_grey)";

}
.header {
  margin: 0px;

}
.row {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 8px;
  margin-bottom: 1em;

}
