/* App.css */
:root {
  --bg-color: #dfdfdc;
  /* Paper/Wood-like off-white */
  --text-primary: white;
  --text-secondary: #555;
  --accent-color: #1a1a1a;
  /* Soft black */
  --accent-hover: #333;
  --border-color: #d1d1d1;
  --success: #2e7d32;
  --danger: #c62828;
  --woodsBackground: #184E24;
  --farmBackground: #AF9631;
  --mineBackground: #4E5355;
  --openBorder: #F7F3E3;
  --opponentBorder: #F58066;
  --playerBorder: #53CA6D;
  --tangerine: #FFAC81;
  --salmon: #FF928B;
  --peach: #FEC3A6;
  --turquoise: #06AED5;
  --emerald: #73D488;

  /*Color Theme*/
  --dark_grey: #2A364F;
  --medium_grey: #66778E;
  --light_grey: #BFC7D4;

  --dark_blue: #162548;
  --medium_blue: #4B6BB0;
  --light_blue: #ACB9E2;

  --dark_honey: #996832;
  --medium_honey: #C89255;
  --light_honey: #E7C77B;
}

body {
  margin: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: var(--medium_grey);
  color: var(--text-primary);
  -webkit-font-smoothing: antialiased;
}

.nav-link:hover {
  border-bottom: solid var(--medium_honey);
}

h1,
h2,
h3 {
  font-weight: 600;
  letter-spacing: -0.5px;
  margin: 0em;
  margin-bottom: .5em;
}

.btn {
  padding: 12px 24px;
  background-color: var(--dark_grey);
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.2s ease;
  font-weight: 500;
}

.btn:hover {
  background-color: var(--dark_honey);
  transform: translateY(-1px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn-secondary {
  background-color: transparent;
  color: var(--text-primary);
  border-bottom: solid;
}

.btn-secondary:hover {
  background-color: transparent;
  border-bottom: solid var(--medium_honey);
}

.btn-user {
  cursor: pointer;
  padding: 8px 16px;
  border-radius: 20px;
  white-space: nowrap;
}

/* Navigation */
.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--border-color);
}

.nav-link {
  text-decoration: none;
  color: var(--text-primary);
  margin-left: 20px;
  font-weight: 500;
}

/* Forms & Inputs */
input {
  padding: 10px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  width: 100%;
  margin-bottom: 10px;
  box-sizing: border-box;
}

/* Cards/Containers */
.card {
  background: var(--light_grey);
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
  color: var(--text-secondary);
}

.card-waiting {
  background: var(--medium_honey);
  font-weight: bold;
  height: 40px;

  display: flex;
  align-items: center;
  /* vertical */
  justify-content: center;
  /* horizontal */

  text-align: center;
}

.card-finish_phase {
  background: var(--dark_honey);

}

.card-finish_phase .btn {
  border: 3px;
  background: var(--light_honey);
  color: var(--dark_blue);
  font-weight: bold;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  height: 40px;
}

.container {
  max-width: 90%;
  margin: 0 auto;
  padding: 2rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.card-map_background {
  background: var(--medium_blue);
}

/*bars */
.bar {
  background: var(--light_grey);
  padding: 2rem;
  border-radius: 8px;
}

.send_bar {
  display: flex;
  gap: 10px;
  padding: 10px;
  border-top: 1px solid #eee;
  background: #fafafa;
}

.send_input {
  flex: 1;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  height: 40px;
}

.send_button {
  padding: 8px 16px;
  background: var(--medium_blue);
  color: var(--light_grey);
  height: 40px;
}

.send_button:hover {
  background: var(--dark_blue);
}
